[submodule ".emacs.d/snippets"]
	path = snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "hs-indent"]
	path = hs-indent
	url = git@github.com:ttuegel/haskell-true-indent.git
