org-clock-save.el
.#org-clock-save.el
/auto-save-list
/session*
recentf
*.elc
/elpa/
/url/
/nix-buffer
/bookmarks
/.org-id-locations
projectile-bookmarks.eld
/eclipse.jdt.ls/
/workspace
.#bookmarks
/transient/
.lsp-session*
/.cache/
flycheck_*
/result*
.dap-breakpoints
projects
